#my-id {
  color: green;
	width: 500px;
	border : 1px solid black;
  font-size: 20px;
	font-family: 'Oswald', sans-serif;
}

li:hover,
a:hover {
  color: green;
  font-size: 26px;
  line-height: 2;
  letter-spacing: 1px;
}

img[src]:hover {
	border : 1px solid red;
	width: 600px;
}

html {
  font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	background-color: #00539f;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
	margin: 0 auto;
}

h1 {
  margin: 0;
	padding: 20px 0;
}
